:root {
  --main-color: #ffffff;
  --secondary-color: #2f303a;
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --button-color: #f5f4fa;

  --font-family: 'Roboto', sans-serif;
}
/* Общие стили */
body {
  background-color: var(--main-color);
  color: var(--main-text-color);

  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.03em;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
p{
  padding:0px;
  margin: 0px;
}
h1,
h2,
h3{
  margin:0px
}
ul{
  margin: 0px;
  padding: 0px;
}

/* Активное состояние ссылок и кнопок*/
.link:hover,
.link:focus,
.contact:hover,
.contact:focus,
.address:hover,
.address:focus,
.footer-contact:hover,
.footer-contact:focus {
  color: var(--accent-color);
}
.btn:hover,
.btn:focus,
.order:hover,
.order:focus {
  color: var(--main-color);
  background-color: var(--accent-color);

  border-style: none;
  border-radius: 4px;
}
.btn:hover,
.btn:focus{
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.order:hover,
.order:focus{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/* Header */
.page-header{
  border-bottom: 1px solid #ECECEC;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  margin: 0 auto;
}
.main-container {
  align-items: center;
}
.main-container,
.main-nav,
.main-list {
  display: flex;
}
.main-nav {
  align-items: center;
}
.logo,
.logo-studio {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo {
  color: #000000;

  margin-right: 93px;
}
.link {
  color: var(--main-text-color);

  padding-top: 32px;
  padding-bottom: 32px;
}
.logo-web,
.current {
  color: var(--accent-color);
}
.link,
.main-item,
.team-photo,
.work-photo{
  display: block;
}
.main-item:not(:last-child) {
  margin-right: 50px;
}
.contact-list {
  display: flex;
  margin-left: auto;
}
.main-list,
.contact {
  color: var(--secondary-text-color);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact:not(:last-child) {
  margin-right: 50px;
}
/* Hero */
.container-hero {
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero {
  background: var(--secondary-color);
}
.hero,
.our-team {
  text-align: center;
}

.order {
  color: var(--main-text-color);
  background-color: var(--button-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;

  border-style: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  min-width: 200px;
  padding: 10px 30px;
  display: inline-block;
}
.title {
  color: var(--main-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-bottom: 30px;
}

/*  Приемущества */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.benefits-list {
  display: flex;
}
.benefits-item:not(:last-child) {
  margin-right: 30px;
}

.benefits-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.benefits-text {
  color: var(--secondary-text-color);

  font-weight: 400;
  line-height: 1.71;
  min-width: 270px;
}
/* Чем мы занимаемся */
.do {
  padding-top: 0px;
}
.page-title {
  font-size: 36px;
  line-height: 1.17;

  text-align: center;
  margin-bottom: 50px;
}
.do-list {
  display: flex;
  justify-content: space-between;
}
/* Наша команда */
.our-team {
  background: var(--button-color);
}
.team {
  line-height: 1.18;

  display: flex;
  justify-content: space-between;
}
.team-title,
.team-text {
  font-size: 16px;
}
.team-title,
.benefits-title {
  margin-bottom: 10px;
}
.team-list {
  background: var(--main-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-text {
  color: var(--secondary-text-color);
  font-weight: 400;
}
.team-photo,
.team-text{
  margin-bottom: 30px;
}
/* Footer */
.page-footer {
  background: var(--secondary-color);

  padding-top: 60px;
  padding-bottom: 60px;
}
.address,
.footer-contact {
  line-height: 1.71;
  
}
.address {
  color: var(--main-color);
  font-weight: 400;
  
}
.footer-contact {
  color: rgba(255, 255, 255, 0.6);
}
.logo-studio {
  color: var(--main-color);
}
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-item{
  font-style: normal;
}
.footer-logo{
  margin-bottom: 20px;
}

/* PORTFOLIO.HTML */
.btn {
  border-radius: 4px;
  background-color: var(--button-color);
  color: var(--main-text-color);
  border-style: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;

  display: inline-block;
  padding: 6px 22px;
}
.work-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.work-text {
  font-size: 16px;
  line-height: 1.8;
  color: var(--secondary-text-color);
}
.work-nav {
  color: inherit;
}
.portfolio-list {
  display: flex;
  margin-top: 0px;
  margin-bottom: 34px;
  padding-left: 0px;

  justify-content: center;
}
.portfolio-item:not(:last-child) {
  margin-right: 8px;
}
.work{
  display: flex;
  flex-wrap: wrap;
}
.work-item{
  width:370px;
}
.work-item:not(:nth-child(3n)){
  margin-right:30px;
} 
.work-item:not(:nth-last-child(-n+3)){
  margin-bottom: 30px;
} 
.work-title{
  margin:0 auto;
}
.work-text{
  font-weight: 400;
}
.work-container{
  padding:20px 24px;
  border: 1px solid #EEEEEE;
  border-top: none;
}

